.Change{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);     border-radius :20px 20px 0% 0%;
    padding: 10px;
}